.heading {
  margin-bottom: 1rem;
}

.question {
  color: var(--add1-500);
  font-size: 2rem;
  font-family: 'Quicksand';
}

.answer {
  font-size: 1.2rem;
}

.questionCont {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 50rem;
}

.icon {
  color: var(--main-400);
  width: 2rem;
  height: 2rem;
}

.hierarchyIcon {
  width: 1.2rem;
  height: 1.2rem;
  transition: fill .2s;
}

.hierarchyIcon:hover {
  fill: var(--add1-500);
}

.hierarchyMan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: .2rem;
}

.iconCont:hover {
  cursor: pointer;
}

.buttonCont {
  max-width: 15rem;
}

.buttonDesc {
  margin-bottom: .5rem;
}

@media screen and (max-width: 900px) {
  .question, .answer {
    text-align: center;
  } 
  .buttonCont {
    margin: auto;
  }
.menu {
  width: 100% !important;
  justify-content: center;
}
}

.active {
  color: var(--add1-500);
}

.menu {
  font-size: 32px;
  display: flex;
  align-items: center;
  color: var(--main-300);
  gap: 16px;
  width: fit-content;
  margin-bottom: 1rem;
}

.menu > div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu svg {
  font-size: 2rem;
  cursor: pointer;
}

.questionsList {
  list-style: none;
  padding-left: 0;
  margin-block: 2rem;
}

.questionsList .questionElem::marker {
  color: var(--add1-500);
  font-size: 1.5rem;
  text-align: left;
}

.menu > button {
  font-size: 20px;
  padding: 8px 16px;
  border-width: 2px;
  border-radius: 6px;
}

.managementIcons div {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: .5rem;
}