.question {
    margin: 2rem 0;
}

.question > p, .p {
    font-size: 1.5rem;
    color: var(--add1-500);
    margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
    .question > p, .p {
        text-align: center;
    }
}